p CONTACT
p do I see the title? #{@contact_str}
- myHello = @layout_str || "Tu hermana contact version"
p Hello #{myHello} 
img src="images/newlogo.png" alt="manuch"
<img src="images/A.jpg" alt="Logo">